v2_services/agent_05_gis_jury/workflow.json
{
  "name": "NOVA GIS Jury",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gis-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "gis-review"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agent-05-gis-jury:8105/review",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ job_id: $json.body?.job_id || 'n8n', artifact: $json.body?.artifact ?? $json.body, context: $json.body?.context ?? {} }) }}",
        "options": {}
      },
      "id": "rev",
      "name": "Jury Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nova-judge:8000/evaluate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_result: { status: 'success', agent: '05_gis_jury', jury: $json }, logs: ['entrypoint=v1','dispatch=v2','agent=05_gis_jury'] }) }}",
        "options": {}
      },
      "id": "jg",
      "name": "Pipeline Judge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "rsp",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Jury Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jury Review": {
      "main": [
        [
          {
            "node": "Pipeline Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Judge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}