infrastructure/services/agent_10_game_balance_jury/workflow.json
{
  "name": "Agent 10 Game Balance Jury",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "balance-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wb_bal",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "balance-review"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agent-10-game-balance-jury:8110/review",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body ?? $json) }}",
        "options": {}
      },
      "id": "http_bal",
      "name": "Call Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "rsp_bal",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Call Agent", "type": "main", "index": 0}]]
    },
    "Call Agent": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
