v2_services/agent_30_audio_asset_jury/workflow.json
{
  "name": "NOVA Audio Asset Jury",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio-asset-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wb_audio-asset-review",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "audio-asset-review"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agent-30-audio-asset-jury:8130/invoke",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body ?? $json) }}",
        "options": {}
      },
      "id": "http_inv",
      "name": "Call Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "rsp",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
